// colors
$primarycolor:#000;
$secondarycolor:#0096FF;
$tertiarycolor:	#B8B8B8;
$primarytextcolor:#fff;
$detailscolor:#8030A9;
// font
$font_family:'Open Sans', sans-serif;
$font_size: 14px;
$font_weight_title: 900;
// $line_height: 1.5;

// dimensions

$full_width: 100%;
$full_height:100%;
$margin_unit: 15px;
$padding_unit: 20px;
